.rating {
    display: inline-block;
    color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 100%;
    font-size: 18px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
  }