$appWidth: 1150px;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontSizeDefault: 14px;


$elementHeight: 30px; //buttons, labels
$elementPadding: 20px;
$elementFontSize: $fontSizeDefault;
$textSize: 16px;
$logoHeight: 25px;
$headerContainerWidth: $appWidth - 100px;
$searchInputPaddingHorizontal: 20px;

//Film
$filmPosterWidth: 350px;
$filmInfoWidth: $headerContainerWidth - $filmPosterWidth - $elementPadding*2;

// Summary
$summaryContainerWidth: $appWidth - 100px;

//Colors

$color_red: #F55263; // red
$color_grey: #3C3C3C; // grey
$color_white: #FFF; // grey
$color_black: #000; // black


@import './containers/Body.scss';
@import './containers/Header.scss';
@import './components/TopBarSection.scss';
@import './containers/Search.scss';
@import './common/Input.scss';
@import './containers/MovieItem.scss';
@import './containers/MovieItemPoster.scss';
@import './containers/MovieItemInfo.scss';
@import './containers/Content.scss';
@import './components/Footer.scss';
@import './components/NoResultsBlock.scss';
@import './common/index.scss';