.title {
  font-size: 22px;
  padding-bottom: $elementPadding;
  letter-spacing: 1px;
  color: $color_black;
}

.title-white {
  color: $color_white;
}

.title-uppercase {
  text-transform: uppercase;
}
.ttl-big {
  font-size: 28px;
  font-weight: normal;

}

.ttl-red {
  color: $color_red;
}