.label {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  user-select: none;
}

.label-uppercase {
  text-transform: uppercase;
}

.label-white {
  color: #FFF;
}

.label-black {
  color: #000;
}

.label-bold {
  font-weight: bold;
}